@charset "utf-8";
/*
	Design by: Wabdesigner - themeforest.net/user/WabDesigner
	Code by: Umit Karaosmanoglu - www.umitkaraosmanoglu.com
*/

/* CSS Document */
/*
@import url(reset.css);
@import url(fonts.css);
@import url(prettyPhoto.css);
*/
/* MIX */
body {font-size:9px;font-family: Microsoft YaHei;}
.wrap {width:960px;margin:0 auto;}
h2,h3,h5 {font-family: Microsoft YaHei;}
h2 {font-size:20px;}
h3 {font-size:14px;color:#373737;}
h5 {font-size:14px;color:#9e9e9e;margin-bottom:20px;}
p {font-family: Microsoft YaHei;font-size:15px;line-height:18px;color:#373737;}


/* CONTENT */
#content {margin-bottom:40px;}
#content a {color:#188EC4;}

/* image slider */
#content .imgSliderContainer {border:1px solid #f1f1f1;padding:10px 10px 10px 9px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;);
}
#content .sliderBottomPattern {background:url(../images/slider_text_box_bg.png) repeat-x;height:5px;margin-bottom:30px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;);
}
#content .imgSliderContainer .imgSlider {position:relative;width:940px;height:364px;}
#content .imgSliderContainer .imgSlider .imgSliderC {width:940px;height:364px;}
#content .imgSliderContainer .imgSlider .imgSliderC div {width:940px;height:364px;}
#content .imgSliderContainer .imgSlider .imgSliderC img {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}

/* image slider textbox */
#content .imgSliderContainer .imgSlider .imgSliderC div section {display:block;position:absolute;top:65px;left:75px;background:url(../images/slider_text_box_bg.png) repeat;width:360px !important;height:99px !important;z-index:10;padding:25px 15px;}
#content .imgSliderContainer .imgSlider .imgSliderC div section h2 {color:#373737;margin-bottom:10px;}
#content .imgSliderContainer .imgSlider .imgSliderC div section p {color:#fff;}

/* image slider in textbox buttons */
#content .imgSliderContainer .imgSlider .imgSliderC div a.imgSliderTextPrev {position:absolute;top:65px;left:465px;width:16px !important;height:80px !important;display:block;background:url(../images/slider_text_box_btn_left_blue.png) left top no-repeat !important;}
#content .imgSliderContainer .imgSlider .imgSliderC div a.imgSliderTextNext {position:absolute;top:135px;left:465px;width:16px !important;height:80px !important;display:block;background:url(../images/slider_text_box_btn_right_blue.png) left top no-repeat !important;}
#content .imgSliderContainer .imgSlider .imgSliderC div a.imgSliderTextPrev:hover, #content .imgSliderContainer .imgSlider .imgSliderC div a.imgSliderTextNext:hover {background-position:left bottom !important;}

/* image slider prev and next buttons */
#content .imgSliderContainer .imgSlider .imgSliderPrev {display:block;position:absolute;left:0;top:36%;background:url(../images/slider_alternative_btn_left.png) left top no-repeat;width:26px;height:100px;text-indent:-9999px;z-index:8;outline:none;}
#content .imgSliderContainer .imgSlider .imgSliderNext {display:block;position:absolute;right:0;top:36%;background:url(../images/slider_alternative_btn_right.png) left top no-repeat;width:26px;height:100px;text-indent:-9999px;z-index:8;outline:none;}
#content .imgSliderContainer .imgSlider .imgSliderPrev:hover, #content .imgSliderContainer .imgSlider .imgSliderNext:hover {background-position:left bottom;}

/* image slider pagination container for background */
#content .imgSliderContainer .imgSlider .imgSliderPaginationContainer {position:absolute;bottom:0;left:50%;z-index:5;}
#content .imgSliderContainer .imgSlider .imgSliderPaginationContainer div {float:left;height:28px;}
#content .imgSliderContainer .imgSlider .imgSliderPaginationContainer .imgSliderPaginationContainerLeft {background:url(../images/slider_dots_bg_left.png) no-repeat;width:17px;}
#content .imgSliderContainer .imgSlider .imgSliderPaginationContainer .imgSliderPaginationContainerCenter {background:#fff;}
#content .imgSliderContainer .imgSlider .imgSliderPaginationContainer .imgSliderPaginationContainerRight {background:url(../images/slider_dots_bg_right.png) no-repeat;width:17px;}

/* image slider pagination */
#content .imgSliderContainer .imgSlider ul.imgSliderPagination {padding-top:6px;}
#content .imgSliderContainer .imgSlider ul.imgSliderPagination li {float:left;margin-right:10px;width:19px;}
#content .imgSliderContainer .imgSlider ul.imgSliderPagination li a {display:block;width:19px;height:18px;background:url(../images/slider_dots_green.png) left top no-repeat;text-indent:-9999px;outline:none;}
#content .imgSliderContainer .imgSlider ul.imgSliderPagination li a:hover, #content .imgSliderContainer .imgSlider ul.imgSliderPagination li.imgSliderCurrent a {background-position:left bottom;}


